﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="ITownKlita1.About"  %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server" >
    <script>
        var win = window.open("about:blank", "_blank");
        
        win.location.assign("<% Response.Write(ExcelUrl); %>");
        window.close();
    </script>
</asp:Content>
