﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
/**

*/
.itownTextInput {
    margin-top: 1px;
    margin-bottom: 15px;
}
/* */
.itownPanelRight {
    margin-top:20px;
    padding:10px;
    border: 3px solid #69c3c7;
    width:35%;
    height:600px;
    display:inline-block;
    overflow:auto;
}
/* */
.itownPanelLeft {
    margin-top: 20px;
    padding: 10px;
    border: 3px solid #e9dbdb;
    Width: 55%;
    display: inline-block;
    height: 600px;
   
    vertical-align: top;
    float: left;
}